<template name="publishAction">
{{!--
{
	createdAt: Date
	publishedAt: Date
	pkgName: String
	tagName: String,
	releaseName: String
	releaseTargetCommittish: String
	repoCloneUrl: String
	status: String ('queueing, successful, errored')
	error: String
}
--}}
	<div class="item">
		<div class="content">
			<a href="{{atmosphereUrl}}" target="_blank" class="header">{{pkgName}}</a>
			{{#if isInRole 'admin'}}
		    <div id="republishButton"  class="tiny compact circular ui icon button">
					<i class="red repeat icon"></i>
				</div>
		  {{/if}}
			{{#unless successful}}
				<div class="description">
					{{releaseName}}
				</div>
			{{/unless}}
			<div class="extra">
				{{#if queueing}}
					{{#if publishing}}
						<div class="ui active inverted dimmer">
							<div class="ui mini inline text loader">{{publishing}}</div>
						</div>
					{{/if}}
					<div class="ui right floated orange small tag label">
						New Tag: {{tagName}}
					</div>
					<div class="ui small label time">{{released}}</div>
				{{else}}
					{{#if successful}}
						<div class="ui right floated green small tag label">
							Version {{version}}
						</div>
					{{else}}
						<div class="ui right floated red small errored label">
							<i class="warning sign icon"></i> Errored!
						</div>
						<div class="ui lean flowing popup">
							<div class="ui warning icon message">
								<i class="small warning sign icon"></i>
								<div class="content">
									<div class="header">Errors:</div>
									<ul class="list">
										{{#each errors}}
											<li>{{this}}</li>
										{{/each}}
									</ul>
								</div>
							</div>
						</div>
					{{/if}}
					<div class="ui small label time">{{completed}}</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>
