<template name="hookItem">
  <div class="item">
    <div class="right floated ui basic fitted segment">
      <div class="ui {{#if updating}}active{{/if}} inverted dimmer">
        <div class="ui mini loader"></div>
      </div>
      <div class="ui toggle checkbox">
        <input type="checkbox" name="autopublish">
        <label>Approved</label>
      </div>
      <div id="testHook" class="tiny ui basic button">
        Test
      </div>
      <div id="removeHook" class="tiny ui basic icon button">
        <i class="red remove icon"></i>
      </div>
    </div>
    <div class="content">
      <div class="header">{{{displayName}}} (id {{hook_id}})</div>
      Last seen: <i>{{lastSeen}}</i> Last tested: <i>{{lastTested}}</i>
    </div>
  </div>
</template>
