// Footer
@footer-height: 70px;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  background: #FCFCFC url(/imgs/bg.jpg) repeat;
  margin: 0px;
  padding: 0px;
  color: #555555;
}

#content {
  padding-top: 70px;
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: @footer-height;
  //height: 3em;
  margin-top: -3em;
  /*
  position: absolute;
  bottom: 20px;
  width: 100%;
  */
  > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.load.more.list > .bottom.attached.segment {
  max-height: 500px;
  overflow-y: auto;
}

.hooks.page > .ui.hooks.segment {
  max-height: 500px;
  overflow-y: auto;
}
