<template name="home">
  <div class="ui stackable three column page grid">
    <div class="one column row">
      <div class="column">
        <h1 class="ui center aligned dividing header">
          Autopublish for Meteor
          <div class="sub header">
            The portal to
            <b>Automatic Package Publication!</b>
          </div>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="column">
        {{> loadMoreList
            title="Completed Publish"
            itemTemplate="publishAction"
            collection=AutoPublish
            selector=completed
            subscription="completedPublish"
        }}
      </div>
      <div class="column">
        {{> loadMoreList
            title="Queueing Publish"
            itemTemplate="publishAction"
            collection=AutoPublish
            selector=queueing
            subscription="queueingPublish"
        }}
      </div>
      <div class="column">
        {{> loadMoreList
            title="Subscriptions"
            itemTemplate="publishSubscription"
            collection=Subscriptions
            subscription="subscriptions"
        }}
      </div>
    </div>
  </div>
</template>
