<template name="home">
  <div class="ui stackable three column page grid">

    <div class="one column row">
      <div class="column">
        <h1 class="ui center aligned dividing header">
          Autopublish for Meteor
          <div class="sub header">
            <div>
              The portal to
              <b>Automated Package Publication!</b>
            </div>
            <div>
              ...tell me <a href="{{pathFor 'howItWorks'}}">more</a>!
            </div>
          </div>
        </h1>
      </div>
    </div>

    {{!--
    <div class="one column row">
      <div class="column">
        <div class="ui warning icon message">
          <i class="warning icon"></i>
          <div class="content">
            <div class="header">
              This project is still in its first testing phase
            </div>
            <p>
              If you wish to try it out, please write a few lines
              <a href="https://github.com/MeteorPackaging/autopublish.meteor.com/issues/1">
                here
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    --}}

    <div class="row">
      <div class="column">
        {{> loadMoreList
            collection=Subscriptions
            itemTemplate="publishSubscription"
            options=alpha
            subscription="subscriptions"
            title="Subscriptions"
        }}
      </div>
      <div class="column">
        {{> loadMoreList
            collection=AutoPublish
            itemTemplate="publishAction"
            options=newest
            selector=completedSelector
            subscription="completedPublish"
            title="Completed Publish"
        }}
      </div>
      <div class="column">
        {{> loadMoreList
            collection=AutoPublish
            itemTemplate="publishAction"
            options=oldest
            selector=queueingSelector
            subscription="queueingPublish"
            title="Queueing Publish"
        }}
      </div>
    </div>
  </div>
</template>
