<template name="items">
	<div class="publishItems">
		<h4 class="ui top attached center aligned header">
			{{title}}
		</h4>
		<div class="ui bottom attached segment">
			<div class="ui relaxed divided list">
				{{#each items}}
					{{> item}}
				{{else}}
					<p>No Items</p>
				{{/each}}
				{{#if isReady}}
					{{#if hasMorePosts}}
						<div class="fluid ui primary button">Load more</div>
					{{/if}}
				{{else}}
					<div class="item">
						<div class="ui active inverted dimmer">
							<div class="ui text loader">Loading</div>
						</div>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>
