<template name="repoInfo">
  {{#if loading}}
    <i class="spinner loading icon"></i>
  {{else}}
    <div class="item">
      <div class="content">
        {{!-- Header with package name and loading spinner --}}
        <div class="header">
          {{#if pkgUrl}}
            <a href="{{pkgUrl}}" target="_blank">{{displayName}}</a>
          {{else}}
            {{displayName}}
          {{/if}}
          {{#with repoDetails}}
            {{#if errors}}
              {{> repoErrors}}
            {{/if}}
          {{/with}}
          {{#if repoDetails.pkgInfo}}
            {{#if repoDetails.pkgInfo.warnings}}
              {{#with repoDetails.pkgInfo}}
                {{> pkgWarnings}}
              {{/with}}
            {{/if}}
          {{/if}}
        </div>
        {{!-- Toolbar or permissions warning --}}
        {{#if admin}}
          <div class="content">
            <div class="right floated author">
              {{> repoSettings}}
            </div>
          </div>
        {{else}}
          <p>Not enough permissions!</p>
        {{/if}}
      </div>
    </div>
  {{/if}}
</template>
